.container
  .row.mt-4.mb-4.align-items-center.align-items-lg-baseline
    .col-sm-7
      %h1 Вакансии для разработчиков
    .col-sm-5
      .justify-content-lg-end(style='right: 15px; position: absolute; bottom: -10px')
        = link_to 'Разместить вакансию', new_employer_vacancy_path, class: 'btn btn-success' if policy(:employer_vacancy).new?
        = link_to 'Ваши вакансии', employer_vacancies_path, class: 'btn btn-primary' if policy(:employer_vacancy).index?

  .ul.list-group
    - @vacancies.each do |vacancy|
      .li.list-group-item
        .row
          .col-sm-8
            %h4
              = link_to vacancy.company_name, employer_vacancy_path(vacancy.id)
          .col-sm-4
            = vacancy.company_site
        .row
          .col-sm-8
            = vacancy.contact_email
          .col-sm-4
            = vacancy.contact_person
            = vacancy.position
        = vacancy.contact_person
  .row.mt-3
    .col
      = pagy_bootstrap_nav(@pagy).html_safe
