<div class="reg_container container", style="padding-top: 30px;">
  <%= form_for(resource, as: resource_name, html: { id: "signup" }, url: session_path(resource_name)) do |f| %>

    <div class="header">
      <h3>Вход</h3>
      <p>в приложении ItJobs</p>
    </div>

    <div class="sep"></div>

    <div class="inputs">
      <%= bootstrap_devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label 'Пароль' %>
        <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group form-check">
          <%= f.check_box :remember_me, class: 'form-check-input' %>
          <%= f.label :remember_me, class: 'form-check-label' do %>
            Запомнить меня
          <% end %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit 'Войти', class: 'btn btn-primary' %>
      </div>

      <%= render 'devise/shared/links' %>

    </div>

  <% end %>

</div>