.container
  .row.mt-4
    .col
      %h1
        = link_to 'Неутвержденные резюме', unaccepted_summaries_administrations_path
        = " > #{@employee_summary.first_name} #{@employee_summary.second_name}"
        = "(#{@employee_summary.position})"
        = "#{@employee_summary.views_count}👀"
  .row
    .col
      = "Резюме размещено #{time_ago_in_words(@employee_summary.created_at, locale: :ru)} назад"

  %hr.mb-4.mt-4

    .row
      .col-sm-6
        %h4
          .mr-2.badge.badge-info
            = @employee_summary.schedule&.schedule_name
          - if @employee_summary.remote_work?
            .mr-2.badge.badge-success
              Удалённая работа
          - if current_user&.uid&.present? && @employee_summary.git_check?
            = link_to 'GitHub', @employee_summary.user.git_home_page, class: 'mr-2 badge badge-dark'
      .col-sm-6.salary_information
        %h4
          ="от #{@employee_summary.fork_from} до #{@employee_summary.fork_to} #{@employee_summary.currency&.currency_name} #{@employee_summary.payment_period&.payment_period_name.downcase}"

  %hr.mb-4.mt-4

    - if @employee_summary.user.uid&.present? && @employee_summary.git_check?
      .row
        .col
          %h4 Информация о GitHub пользователя
      .row
        .col
          Публичных репозиториев:
          = @employee_summary.user.public_repos
      .row
        .col
          Закрытых репозиториев:
          = @employee_summary.user.private_repos
      .row
        .col
          Главная страница пользователя:
          = link_to 'GitHub', @employee_summary.user.git_home_page

  %hr.mb-4.mt-4

  .row
    .col.mb-4
      = @employee_summary.body

  %hr.mb-4.mt-4
    .row
      .col
        %h4 Контактная информация
    .row
      .col
        Телефон:
        = @employee_summary.contact_phone
    .row
      .col
        Почта:
        = @employee_summary.contact_email

  %hr.mb-4.mt-4

  .row
    = link_to 'Принять', accept_employee_summary_path(@employee_summary), method: :post, class: 'btn btn-success'
    = link_to 'Отклонить', reject_employee_summary_path(@employee_summary), method: :post, class: 'btn btn-danger'
