<nav class="navbar navbar-dark bg-dark">
  <%= link_to 'ItJobs', root_path, class: "navbar-brand" %>
  <form class="form-inline ml-auto">
    <% if user_signed_in? && current_user&.admin? %>
      <li class="nav-item" style="padding-right: 5px">
        <%= link_to 'Неутвержденные резюме', unaccepted_summaries_administrations_path, class: "btn btn-outline-warning my-sm-0" %>
      </li>
      <li class="nav-item" style="padding-right: 5px">
        <%= link_to 'Неутвержденные вакансии', unaccepted_vacancies_administrations_path, class: "btn btn-outline-warning my-sm-0" %>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">
          Действия с аккаунтом
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% unless current_user.uid.present? %>
            <%= link_to 'Редактировать аккаунт', edit_user_registration_path, class: "dropdown-item" %>
          <% end %>
          <!--<div class="dropdown-divider"></div> -->
        </div>
      </li>
      <%= link_to 'Выйти из аккаунта', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger my-2 my-sm-0" %>
    <% else %>
      <li class="nav-item" style="padding-right: 5px">
        <%= link_to 'Зарегистрироваться', new_user_registration_path, class: "btn btn-outline-success my-sm-0" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Войти', new_user_session_path, class: "btn btn-outline-success my-5 my-sm-0" %>
      </li>
    <% end %>
  </form>
</nav>